@font-face {
  font-family: "RedHatText";
  font-style: normal;
  src: url(./RedHat/RedHatText-Regular.ttf) format("truetype");
  font-weight: 400;
}
@font-face {
  font-family: "RedHatText";
  font-style: normal;
  src: url(./RedHat/RedHatText-Bold.ttf) format("truetype");
  font-weight: 700;
}
@font-face {
  font-family: "RedHatText";
  font-style: normal;
  src: url(./RedHat/RedHatText-SemiBold.ttf) format("truetype");
  font-weight: 600;
}
